<div class="container-fluid">
  <h3>Chapter 03</h3>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-primary mr-2" (click)="mapExample()">Map</button>
      <button class="btn btn-outline-primary mr-2" (click)="filterExample()">Filter</button>
      <button class="btn btn-outline-primary mr-2" (click)="catchErrorExample()">Catch error</button>
      <button class="btn btn-outline-primary mr-2" (click)="distinctUntilChangedExample()">Distinct Until Changed</button>
      <button class="btn btn-outline-primary mr-2" (click)="distinctExample()">Distinct</button>
      <button class="btn btn-outline-primary mr-2" (click)="distinctUntilKeyChanged()">Distinct Until Key Changed</button>
      <button class="btn btn-outline-primary mr-2" (click)="scanExample()">Scan</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-primary mr-2" (click)="bufferCountExample()">Buffer count</button>
      <button class="btn btn-outline-primary mr-2" (click)="bufferExample()">Buffer</button>
      <button class="btn btn-outline-primary mr-2" (click)="bufferWhenExample()">Buffer When</button>
      <button class="btn btn-outline-primary mr-2" (click)="bufferToggleExample()">Buffer Toggle</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="clearSubscriptions()">Stop</button>
    </div>
  </div>
</div>
