<div class="container-fluid">
  <h3>Chapter 04</h3>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-primary" (click)="processingChunksExample()">Processing Chunks</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <app-auto-complete></app-auto-complete>
    </div>
    <div class="col-md-12 mt-4">
      <app-merge-map-demo></app-merge-map-demo>
    </div>
    <div class="col-md-12 mt-4">
      <app-merge-scan-demo></app-merge-scan-demo>
    </div>
    <div class="col-md-12 mt-4">
      <app-merge-map-delayed></app-merge-map-delayed>
    </div>
    <div class="col-md-12 mt-4">
      <app-crud-demo></app-crud-demo>
    </div>
    <div class="col-md-12 mt-4">
      <app-city-price></app-city-price>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="clearSubscriptions()">Stop</button>
    </div>
  </div>
</div>
